# node_modules - директорія залежностей
node_modules/

# Логи
*.log

# Файли для IDE
.vscode/
.idea/

# .env файли з секретними даними
.env

# Вихідні файли та каталоги, що генеруються
/dist/
/build/

# Папки з кешем
/.cache/
/tmp/

# Інші тимчасові файли
*.swp
*.swo